{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link logout" href="{{ url_for('logout') }}" >Log Out</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<h1 class="title">Task Master</h1>
<h2 class="greetings">Hello, {{ name }}, nice to see you!</h2>
<h3 class="subtitle">Create your new task right below:</h3>
<form class="form-control-lg" action="/" method="POST">
  <input type="text" name="content" id="content">
  <input type="submit" value="Add Task">
</form>

<div class="content">
  {% if tasks|length < 1 %}
  <h4 class="content_suggest">There are no tasks, let's create one!</h4>
  {% else %}
  <h3 class="content_title">Your current tasks:</h3>

  <div class="Todo-list">
    <table>
      <tr>
        <th>Task</th>
        <th>Added</th>
        <th>Actions</th>
      </tr>
      {% for task in tasks %}
      <tr>
        <td class="task_content">{{ task.content }}</td>
        <td class="date_added">{{ task.date_created.date() }}</td>
        <td>
          <a class="actions" href="/delete/{{task.id}}">Delete</a>
          <br>
          <a class="actions" href="/update/{{task.id}}">Update</a>
        </td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

  </div>


</div>

{% endblock %}
