{% extends 'base.html' %}

{% block head %}
<title>Task Master</title>
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block body %}

<div class="container">
      <div class="col-md-6">
          <div class="card">
              <form form method="POST" action="/login" class="box">
                  <h1>Login</h1>
                  <p class="text-muted"> Please enter your login and password!</p>
                  <input type="text" name="username" class="form-control" value={{request.form.username}}> 
                  <input type="password" name="password" class="form-control" value={{request.form.password}}>
                   <p style="color: rgb(190, 0, 0);">{{ invalid }}</p> 
                   <input type="submit" class="btn btn-primary" value="Log in"></p>
              </form>
          </div>
      </div>
</div>

{% endblock %}